 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD candidate in Deep learning</h4>
    <h5 class="meta">Seoul National University</h5>
    <div class="time">2014 - </div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Industrial Engineering</h4>
    <h5 class="meta">Pohang University of science and Technology</h5>
    <div class="time">2000 - 2007</div>
</div><!--//item-->
</div><!--//education-container-->
